/* Reset and Box-Sizing */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

/* Body Styles */
body {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    background-color: #EADAF3;
}

/* Navigation Bar */
nav {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D6B3E1;
    padding: 1rem;
    z-index: 10;
}

.nav-links {
    display: flex;
    gap: 1rem;
    list-style: none;
}

.nav-links.left {
    position: absolute;
    left: 1rem;
}

.nav-links.right {
    position: absolute;
    right: 1rem;
}

.nav-links li {
    display: inline;
}

.nav-links a {
    text-decoration: none;
    color: #000;
    font-size: 1rem;
}

/* Logo */
.logo-container {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 4em;
    transform: translate(-50%, -50%);
    width: 100px; /* Assurez-vous que la largeur et la hauteur sont égales */
    height: 100px; /* Assurez-vous que la largeur et la hauteur sont égales */
    background-color: white;
    border-radius: 50%;
    padding: 65px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-container::before,
.logo-container::after {
    content: '';
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo-container::before {
    width: 120px;
    height: 120px;
    background-color: white;
    z-index: -1;
}

.logo-container::after {
    width: 110px;
    height: 110px;
    border: 2px solid black;
    z-index: -2;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}

.logo a {
    text-decoration: none;
    color: #381A57;
}

/* Paw */
@keyframes stamp {
    0%, 100% { opacity: 0; }
    10% { opacity: 1; }
}

.loader {
    position: relative;
    width: 100px;
    height: 35px;
    margin: auto;
    margin-top: 4em;
}

.loader .paw {
    position: absolute;
    width: 40px;
    height: 40px;
    background: url('https://icon-library.com/images/dog-paw-icon/dog-paw-icon-10.jpg') no-repeat center center;
    background-size: cover;
    opacity: 0;
    animation: stamp 5s infinite;
}

/* Positioning each paw print around the circle */
.loader .paw {
    transform-origin: 50px 50px;
}

.loader .paw:nth-child(1) { transform: rotate(0deg) translateX(50px) rotate(180deg); animation-delay: 0s; }
.loader .paw:nth-child(2) { transform: rotate(36deg) translateX(50px) rotate(180deg); animation-delay: .5s; }
.loader .paw:nth-child(3) { transform: rotate(72deg) translateX(50px) rotate(180deg); animation-delay: 1s; }
.loader .paw:nth-child(4) { transform: rotate(108deg) translateX(50px) rotate(180deg); animation-delay: 1.5s; }
.loader .paw:nth-child(5) { transform: rotate(144deg) translateX(50px) rotate(180deg); animation-delay: 2s; }
.loader .paw:nth-child(6) { transform: rotate(180deg) translateX(50px) rotate(180deg); animation-delay: 2.5s; }
.loader .paw:nth-child(7) { transform: rotate(216deg) translateX(50px) rotate(180deg); animation-delay: 3s; }
.loader .paw:nth-child(8) { transform: rotate(252deg) translateX(50px) rotate(180deg); animation-delay: 3.5s; }
.loader .paw:nth-child(9) { transform: rotate(288deg) translateX(50px) rotate(180deg); animation-delay: 4s; }
.loader .paw:nth-child(10) { transform: rotate(324deg) translateX(50px) rotate(180deg); animation-delay: 4.5s; }

/* Hexagon Wrapper */
.hexagon-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 15rem; /* Ajouter de l'espace en bas */
}

/* Container */
.container {
    position: relative;
    /* to get a regular hexagon with clip-path use the same scale, width is sqrt(3) / 2 of the height  */
    width: calc(260px * 0.866);
    height: 260px;
}

.box {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: lightblue;
    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}

.box img {
    transform-origin: 50% 50%;
    object-fit: cover;
    transition: all .5s ease-out;
}

.box::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, .45);
    transition: all .5s ease-out;
}

.box:hover img {
    transform: scale(1.2);
}

.box:hover::after {
    background: rgba(0, 0, 0, 0);
}

.box2.box {
    transform: translate(calc(-50% - (10px / 2)), calc(-75% - (10px / 2 * 1.732)));
}

.box3.box {
    transform: translate(calc(50% + (10px / 2)), calc(-75% - (10px / 2 * 1.732)));
}

.box4.box {
    transform: translate(calc(-100% - 10px), 0);
}

.box5.box {
    transform: translate(calc(100% + 10px), 0);
}

.box6.box {
    transform: translate(calc(-50% - (10px / 2)), calc(75% + (10px / 2 * 1.732)));
}

.box7.box {
    transform: translate(calc(50% + (10px / 2)), calc(75% + (10px / 2 * 1.732)));
}

/* Home Description Section */
.home-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 0;
    text-align: center;
}

.home-description h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.home-description .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.home-description .bubble {
    background-color: #D6B3E1;
    padding: 1rem;
    border-radius: 10px;
    width: 80%;
    max-width: 400px;
    text-align: center;
}

/* Header for 'À Propos' Page */
.header-about {
    background-color: #D6B3E1;
    padding: 2rem 0;
    text-align: center;
}

.header-about h1 {
    margin-bottom: 1rem;
    font-size: 2.5rem;
    color: #381A57;
}

.header-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap; /* Ajouté pour permettre l'enroulement en mode mobile */
}

.header-content .text-content {
    text-align: left;
}

.header-content .image-content {
    text-align: center;
}

.header-content .image-content img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.header-content .image-content p {
    margin-top: 0.5rem;
    font-size: 1rem;
    color: #381A57;
}

/* Main Content */
main {
    flex: 1;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* 'Mes Chiens' Section */
.my-dogs {
    text-align: center;
}

.my-dogs h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.dogs-content {
    display: flex;
    justify-content: space-around;
    gap: 2rem;
    flex-wrap: wrap; /* Ajouté pour permettre l'enroulement en mode mobile */
}

.dog {
    background-color: #FFC3C3;
    padding: 1rem;
    border-radius: 10px;
    width: 100%; /* Ajusté pour occuper toute la largeur en mode mobile */
    max-width: 200px; /* Limite la largeur maximale en mode bureau */
    text-align: center;
}

.dog .photo {
    background-color: #FF8C8C;
    height: 150px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
    margin-bottom: 1rem;
}

/* Footer */
footer {
    background-color: #D6B3E1;
    padding: 2rem;
    text-align: center;
    width: 100%;
}

footer .footer-content {
    display: flex;
    justify-content: center;
    gap: 20rem; /* Ajusté pour espacer les icônes de manière uniforme */
    margin-bottom: 1rem;
    flex-wrap: wrap; /* Permet aux icônes de se réorganiser sur plusieurs lignes si nécessaire */
}

footer .social-icon {
    text-decoration: none;
    color: #000;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    gap: 10px;
}

footer .social-icon i {
    font-size: 2rem;
}

footer .footer-bottom {
    font-size: 0.8rem;
}

footer .footer-bottom a {
    color: #000;
    text-decoration: none;
}

/* Media queries for responsiveness */
@media (max-width: 900px) {
    footer .footer-content {
        gap: 5rem; /* Réduire l'écart entre les icônes sur les petits écrans */
    }

    footer .social-icon {
        font-size: 3.2rem;
    }

    footer .social-icon i {
        font-size: 3.5rem;
    }
}

@media (max-width: 450px) {
    footer .footer-content {
        gap: 10rem; /* Réduire l'écart entre les icônes sur les petits écrans */
    }

    footer .social-icon {
        font-size: 3.2rem;
    }

    footer .social-icon i {
        font-size: 5.5rem;
    }
}


