<footer id="footer">
    <div class="footer-content">
        <a href="https://www.instagram.com/canincompris/" target="_blank" class="social-icon" aria-label="Lien vers le compte Instagram de Canincompris">
            <i class="fab fa-instagram"></i>
        </a>
        <a href="mailto:votreemail@example.com" class="social-icon" aria-label="Pour envoyer un mail directement à CaninCompris">
            <i class="fas fa-envelope"></i>
        </a>
        <a href="URL_DU_FORMULAIRE" target="_blank" class="social-icon" aria-label="Lien vers le formulaire d'information de CaninCompris">
            <i class="fas fa-file-alt"></i>
        </a>
    </div>
    <div class="footer-bottom">
        <p>2024 © | Mentions Légales & CGV</p>
        <p>SIRET ---------| ACACED ----------</p>
        <p>Le contenu de ce site est la propriété exclusive de ses auteurs. Les photos, les visuels et les textes ne sont pas libres de droits. Toute reproduction de son contenu est interdite sans autorisation préalable.</p>
    </div>
</footer>
